# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.dylib
.vs/Projektas/FileContentIndex/09154446-2674-4fab-9d6e-cb34cf6cd352.vsidx
.vs/Projektas/FileContentIndex/508d9fc1-64fd-49dc-9be8-3bd5add6b342.vsidx
.vs/Projektas/FileContentIndex/5c6484ae-53e1-49e6-8b20-2fd8d178a889.vsidx
.vs/Projektas/FileContentIndex/7966adef-4063-4490-9359-efcc23c490aa.vsidx
.vs/Projektas/FileContentIndex/5c6484ae-53e1-49e6-8b20-2fd8d178a889.vsidx
