# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.dylib
.vs/Projektas/FileContentIndex/09154446-2674-4fab-9d6e-cb34cf6cd352.vsidx
.vs/Projektas/FileContentIndex/508d9fc1-64fd-49dc-9be8-3bd5add6b342.vsidx
.vs/Projektas/FileContentIndex/5c6484ae-53e1-49e6-8b20-2fd8d178a889.vsidx
.vs/Projektas/FileContentIndex/7966adef-4063-4490-9359-efcc23c490aa.vsidx
.vs/Projektas/FileContentIndex/5c6484ae-53e1-49e6-8b20-2fd8d178a889.vsidx
.vs/Projektas/FileContentIndex/7ce0b8a6-31a0-4e4e-be88-f21077271fe4.vsidx
.vs/Projektas/FileContentIndex/907dbc5d-7f40-4a24-80c9-c3fc4a2aca89.vsidx
.vs/Projektas/FileContentIndex/5ff8c238-212f-435f-a165-71e9924f288c.vsidx
.vs/Projektas/FileContentIndex/108217af-385a-49a2-93e3-4305675b9f07.vsidx
